
DirectoryIndex index.php

RewriteBase /

RewriteEngine On

#RewriteCond %{HTTP_HOST} ^regmedmap\.ru [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ /index.php?q=$1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
